{% extends "layout.njk" %}


{% block head %}
    <title>Gym Manager</title> 
    <link rel="stylesheet" type="text/css" href="/members.css" >
{% endblock %}


{% block content %}
<div class="card">
  
    <section class="avatar" style="background: url({{member.avatarUrl}}) no-repeat center center / cover;">
    </section>
 
    <section class="details"> 
    <h3>Editar Membro</h3>

    <form class='delete-resource' action="/members?_method=DELETE" method="POST" > 
      <button type="submit">Deletar</button>
      <input type="hidden" name="id" value={{member.id}}>
    </form>
    <form  class='create-resource' action="/members?_method=PUT" method="POST" > 
        {% include 'members/fields.njk' %}
        <input type="hidden" name="id" value={{member.id}}>
    </form>
    </section>

    <script>
        const form = document.querySelector(".delete-resource");
        form.addEventListener("submit", (event) => {
        if(!confirm("Deseja realmente excluir o membro?"))
            event.preventDefault()
        
        });
    </script>

</div>
{% endblock content %}