{% extends "layout.njk" %}


{% block head %}
    <title>Gym Manager</title> 
    <link rel="stylesheet" type="text/css" href="/members.css" >
{% endblock %}


{% block content %}
  <div class="card">
    <section class="avatar" style="background: url({{member.avatarUrl}}) no-repeat center center / cover;">
    </section>
    <section class="details">
      <h3>Detalhes</h3>

    <form  class='create-resource' action=""> 
      {% include 'members/fields.njk' %}
    </form>
      <a href='/members/{{member.id}}/edit' class='button'>
        Editar
      </a>
    

    </section>
  </div>

<script>
  
const button = document.querySelector("button[type='submit']"); 
button.classList.add("inactive"); 
</script>

{% endblock content %}