{% extends "layout.njk" %}


{% block head %}
    <title>Gym Manager</title> 
    <link rel="stylesheet" type="text/css" href="/instructors.css" >
{% endblock %}


{% block content %}
{% endblock content %}