{% extends "layout.njk" %}


{% block head %}
    <title>Gym Manager</title> 
    <link rel="stylesheet" type="text/css" href="/instructors.css" >
{% endblock %}


{% block content %}
  <form class="card create-resource" action="/instructors" method="POST" > 
    <section class="details"> 
      
      <h3>Novo instrutor</h3>

      {% include 'instructors/fields.njk' %}

    </section>
  </form>
{% endblock content %}